*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    background-image: url("images/deck.jpg");
    background-repeat: no-repeat;
    background-position-x:center;
    background-position-Y:100px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
}
#ask{
    width:25%;

    margin-right:auto;
    margin-left:auto;
    margin-top: 2%;
}
#prevEvolution{
    position:absolute;
    left:50%;
    margin-left:70px;
    top:265px;
}
button {
    background: transparent;
   /* border: none !important; */
    /* font-size:0; */
}
input{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    padding:10px;
    font-size: 18px;

}
#pokeImg{
    position:absolute;
    left:50%;
    margin-left:-250px;
    width:150px;
    height:150px;
    top:245px;
}
#evoImg{
    position:absolute;
    left:50%;
    margin-left:-170px;
    top:250px;

}

#pokeMove1{
    position:absolute;
    left:50%;
    margin-left:78px;
    top:368px;
    color:white;
   /* font-size: 16px;*/
}
#pokeMove2{
position:absolute;
left:50%;
margin-left:207px;
top:368px;
color:white;
/* font-size: 16px;*/
}
#pokeMove3{
    position:absolute;
    left:50%;
    margin-left:78px;
    top:408px;
    color:white;
    /* font-size: 16px;*/
}
#pokeMove4{
    position:absolute;
    left:50%;
    margin-left:207px;
    top:408px;
    color:white;
    /* font-size: 16px;*/
}


#pokeId{
    position:absolute;
    left:50%;
    margin-left:-209px;
    top:520px;
    font-size: 18px;
}
#pokeName{
    position:absolute;
    left:50%;
    margin-left:159px;
    top:247px;
    /* font-size: 16px;*/
}
@media screen and (max-width: 600px) {
body{
    background-color:#D2381E;
    padding-left:2%;
    background-image: none;
}
    #pokeImg{
        border:red solid 1px;
       margin-left:auto;
       margin-right:auto;
        width:200px;
        height:200px;
    }
    #pokeMoves{
        position:absolute;
        top:354px;
        /* font-size: 16px;*/
    }
    #pokeId{
        position:absolute;
        left:50%;
        margin-left:-10px;
        top:504px;
        font-size: 18px;
    }
    #pokeName{
        position:absolute;
        top:222px;
        /* font-size: 16px;*/
    }
}